{% extends 'base_accounts.html' %}
{% load crispy_forms_tags %}
{% block account %}

<div class="row justify-content-md-center">
    <div class="col col-lg-2">
      
    </div>
    <div class="col-md-auto col-lg-6">
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4"> Join Today</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outlin-info" type="submit">Sign Up</button>
				</div>
			</form>
			<div class="border-top pt-3">
				<small class="text-muted">
					Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Login</a> </small>
			</div>
		</div>
	 </div>
    <div class="col col-lg-2">
      
    </div>
	
		
</div>
{% endblock %}