{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://firebasestorage.googleapis.com/v0/b/django-file-upload-cc740.appspot.com/o/style.css?alt=media&token=d5814af7-a76b-4b51-8525-732ffb269a35"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    {% block scripts %} {% endblock scripts %}

    <title>quize app| {%block title%} {% endblock title %}</title>
  </head>
  <body>
  
    <div class="container mt-3">
    
      {% block content %} {% endblock content %}
    </div>
<div id="preloader"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://firebasestorage.googleapis.com/v0/b/django-file-upload-cc740.appspot.com/o/main.js?alt=media&token=3687a91b-0ddc-4eff-964e-05c7e15686fe"></script>

  </body>
</html>
