{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fut Material Center </title>
  <meta content="" name="description">
  <meta content="" name="keywords">
 
  
   <!-- Template Main CSS File -->
 
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 
 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

 <link href="https://firebasestorage.googleapis.com/v0/b/django-file-upload-cc740.appspot.com/o/style.css?alt=media&token=d5814af7-a76b-4b51-8525-732ffb269a35" rel="stylesheet">
 
</head>


<body>

{% include 'pdf/navbar.html' %}


<div class="jumbotron jumbotron-fluid jumbotronStyle" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/django-file-upload-cc740.appspot.com/o/24Z_2103.w026.n002.245B.p1.245.jpg?alt=media&token=62a0de90-d617-42bc-bfce-c269504ecc60);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    " >
  <div class="container" style="color: white;">
    {% if messages %}
    {% for message in messages %}
      <div id="alert" style="text-align: center;" class="alert alert-{{ message.tags }}" role="alert">
         <span class="text-center"> {{ message }}</span>
      </div>
    {% endfor %}
{% endif %}
    <h3 class="display-4">FUT Minna Material Center</h3>
    <p class="lead">A plsce to learn, unlearn and make your goals ccome to pass</p>
    <hr class="my-4">
  <p>The website is dedicated to 2019/2020 Freshers and off the great Statisticians</p>
  <p class="lead">
    <i class="bi bi-book-half" style="font-size: 50px;"></i>
  </p>
  </div>
</div>
  <!-- ======= Hero Section ======= -->




  <section id="hero" class="d-flex  align-items-center" >
    <div class="container  position-relative">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          
          <h1>Freshers Website</h1>
         {% if user.is_authenticated %}
          <h2>Welcome {{ user.username }}</h2>
         {% else %}
          <h2>Welcome</h2>
          <h2>We are team of talented material givers</h2>
         {% endif %}
          
        
          
        </div>
      </div>
      <div class="text-center" style="padding-bottom: 100px;">
        <a href="#about" class="btn-get-started scrollto">Get Started <i class="bi bi-arrow-down" style="font-size: 25px;"></i></a>
      </div>
 
     {% block content %} {% endblock %}
  </div>
  </section><!-- End Hero -->
  <div class="text-center">
{% if is_paginated %}
    {% if page_obj.has_previous %}

      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
       <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>

       {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
       <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>

      {% endif %}

    {% endfor %}
    {% if page_obj.has_next %}
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

 {% endif %}
 </div>
  <main id="main">



  


  <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Feel free to ask any us anything question. We are always there for you. You can send us your questions on the contact section and we will respond back as fast as possible and it will also be uploaded on the website for others that have similar questions to see the answers provided down below.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <a data-toggle="collapse" class="collapse" href="#faq-list-1">How to get specific materials</a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  To get specific materials or materials that are not found here is simply by sending us the name of the material you are looking for and make sure to subscribe for more update on materials
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <a data-toggle="collapse" href="#faq-list-2" class="collapsed">How to get your ID Card</a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Once you are done with wll your registrations and you have submitted all your files, you will have to submit your green at the senete building. You will be giving a slip of approval and you will be directed to where you will collect it.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <a data-toggle="collapse" href="#faq-list-3" class="collapsed">I Dont know which tutorial to attend and where it is held </a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  Don't panic, we got you covered. Tutorials will be sheduled by your departmental president and it will be communicated to you through your course rep both with the time table. Or check back here in the next 2weeks for the timetable
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
               <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Am having issue with my Reg</a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  Fear Not.
                  Email us the issue and we will provide the solution to you a fast as possible
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <a data-toggle="collapse" href="#faq-list-5" class="collapsed">Passed Test-Exam QnA AND Grading System</a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  This will be updated in the next month. Kindly subscribe down below to get your Test and Exam pass questions and answer. As for the grading system, it will be added to this site very soon and u will be able to calculate your GP and CGPA. Stay turned
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section >
      <div class="container" >

        <div class="section-title">
          <h2>Contact</h2>
          <p>This site is designed to constantly be on update so do well to requently check back for new materials. It is for all student no matter the department or school. Get all 1st semester material and you can also reach us if you need any other material but that is not here.</p>
          <p>If you have any material that you will like to upload or share, kindly send us an email with your phone number attached to the message.</p>
          <p>Feel free to ask any question, lay any complain or if you need more clearity on something. We are always happy to hear and respond to you.</p>
        </div>

      

        <div class="row mt-5">

<div class="col-lg-8 mt-5 mt-lg-0">
            <form action="{% url 'email_contact' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message_email" rows="5" placeholder="Message" required></textarea>
              </div>
             
              <div class=" text-center"><button type="submit" class="btn btn-outline-primary">Send Message</button></div>
            </form>
</div>
          

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Fut 100Level Pdf</h3>
            <p>
              Bosso Campus <br>
              Fut Minna<br>
              Niger States <br><br>
              <strong>Phone:</strong> +234 7019 7365 90<br>
              <strong>Email:</strong> fidekg123@gmail.com.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <a href="https://internship-assignment-resume.herokuapp.com/">About Us Or Donation</a>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Data Analysis</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Project Writing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Mobile App Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Make sure to subscribe to get up coming update on school gist and test/exams material</p>
            <form action="{% url 'email_subscribe' %}" method="post">{% csrf_token %}
              <input type="email" name="email_subscribe"><input type="submit" value="Subscribe">
            }
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
       
        
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://github.com/KcPele" class="twitter"><i class="bi bi-github"></i></a>
        <a href="https://internship-assignment-resume.herokuapp.com/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://internship-assignment-resume.herokuapp.com/" class="google-plus"><i class="bi bi-google"></i></a>
        <a href="https://www.linkedin.com/in/kc-pele-95a665204/" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  

  <div id="preloader"></div>
 

 <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
 <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script type="text/javascript">
        setTimeout(function () {
  
            // Closing the alert
            $('#alert').alert('close');
        }, 5000);
    </script>
   <script src="https://firebasestorage.googleapis.com/v0/b/django-file-upload-cc740.appspot.com/o/main.js?alt=media&token=3687a91b-0ddc-4eff-964e-05c7e15686fe">

</script>
</body>

</html>